<div class="container">
    <div class="row justify-content-center">
     <div class="col-6 grid-margin stretch-card">
     <div class="card">
         <div class="card-body">
<h3>Ajouter ressource materiel</h3>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                <div class="form-group">
                    <label for="exampleInputName1">Nom</label>
                    <input ngModel name="name" placeholder="Nom" type="text" class="form-control input-field" #name="ngModel" required>
                </div>
                <div *ngIf="name.invalid && name.touched" class="text-danger">
                    Nom est obligatoire.
                </div>
                <br/>
                <div class="form-group">
                    <label for="exampleSelectType">Type</label>
                    <select ngModel class="form-control" id="exampleSelectType" name="type" #type="ngModel" required>
                        <option value="" disabled selected>Sélectionner un type</option>
                        <option value="option1">Consomable</option>
                        <option value="option2">Non consommable</option>
                        <option value="option3">Incongelable</option>
                    </select>
                </div>
                <div *ngIf="type.invalid && type.touched" class="text-danger">
                    Type est obligatoire.
                </div>   
                <br/>             
                <div class="form-group">
                    <label for="exampleInputQuantite1">Quantite</label>
                    <input ngModel placeholder="Quantité" name="quantite" type="number" class="form-control input-field" #quantite="ngModel" required>
                </div>
                <div *ngIf="quantite.invalid && quantite.touched" class="text-danger">
                    Quantité est obligatoire.
                </div>
                <br/>
                <div class="form-group">
                    <label for="exampleInputModele1">Modèle</label>
                    <input ngModel placeholder="Modèle" name="modele" type="text" class="form-control input-field" #modele="ngModel" required>
                </div>
                <div *ngIf="modele.invalid && modele.touched" class="text-danger">
                    Modèle est obligatoire.
                </div>
                <button type="submit" class="btn btn-success mt-2" [disabled]="!form.valid">Ajouter</button>
            </form>
        </div>
    </div>
</div>
</div></div></div></div></div>